In [ ]:
import sqlite3

In [ ]:
#Cria banco de dados
def criar_banco():
    conn = sqlite3.connect('banco_dados.db') #conexão
    cursor = conn.cursor() #cursor

    #Tabela
    cursor.execute('''CREATE TABLE IF NOT EXISTS alunos
                    (id INTEGER PRIMARY KEY AUTOINCREMENT,
                    nome TEXT NOT NULL,
                    idade INTEGER NOT NULL,
                    classe TEXT NOT NULL,
                    nota INTEGER NOT NULL);''')
    
    #fim conexão
    conn.close()

In [ ]:
#Insere dados
def inserir_dados():
    conn = sqlite3.connect('banco_dados.db')
    cursor = conn.cursor()
    
    nome = input("Nome do(a) aluno(a): ")
    idade = input("Idade do(a) aluno(a): ")
    classe = input("Classe do(a) aluno(a): ")
    nota = input("Nota do(a) aluno(a): ")

    #dados na tabela
    cursor.execute("INSERT INTO alunos (nome, idade, classe, nota) VALUES (?, ?, ?, ?)", (nome, idade, classe, nota))
    

    conn.commit()
    conn.close()

In [ ]:
#Buscar dados
def busca_dados():
    conn = sqlite3.connect('banco_dados.db')
    cursor = conn.cursor()
    
    nome = input("Nome do(a) aluno(a) que deseja procurar: ")

    # Busca dados
    cursor.execute("SELECT * FROM alunos WHERE nome=?", (nome,))
    resultado = cursor.fetchall()
    
    # Exibe dados
    if resultado:
        print("Dados encontrados:")
        for row in resultado:
            print("Nome:", row[1])
            print("Idade:", row[2])
            print("Classe:", row[3])
            print("Nota:", row[4])
    else:
        print("Nenhum dado encontrado com esse nome.")
    

    conn.close()

In [ ]:
def deleta_dados():
    # Conectar ao banco de dados
    conn = sqlite3.connect('banco_dados.db')
    cursor = conn.cursor()

    nome = input("De qual aluno(a) deseja remover os dados? ")    

    # remove
    cursor.execute("DELETE  FROM alunos WHERE nome=?", (nome,))
    # Salvar as mudanças e fechar a conexão
    conn.commit()
    conn.close()

In [ ]:
# Cria o banco de dados
criar_banco()

In [ ]:
inserir_dados()

In [ ]:
busca_dados()

In [ ]:
deleta_dados()